.videoBlock {

  video {
    margin-bottom: 10px;
    max-width: 80%;
  }

  .videoBlock__container{
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .videoBlock__avatar {
    @include smallUserAvatar;
    margin-right: 10px;
  }

  .videoBlock__title {
    font-size: 20px;
    font-weight: 450;
    margin-bottom: 7px;
  }

  .videoBlock__viewTime {
    color: $view-color;
    .videoBlock__views{
      margin-right: 5px;
    }
    videoBlock__creator{
      margin-right: 5px;
    }
  }
}
