.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 640px;
    margin-top: 50px;
    button {
      width: 200px;
      margin-bottom: 10px;
    }
    .video__title{
      display: block;
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 600;
    }
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
      color: $view-color;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 18px;
    }
  }
  .video__comments {
    margin-top: 40px;
    #jsCommentNumber {
      font-size: 17px;
      font-weight: bolder;
    }
    .add__comment {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .add__comment input {
      width: 100%;
      max-width: 500px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .add__comment input:focus {
      box-shadow: $dark-blue 6px 2px 16px 0px, $dark-blue -6px -2px 16px 0px;
    }
  }
}
